.wrapper-home-main {
  position: relative;
  padding-top: 40px;

  .background-bg {
    position: absolute;
    left: 50%;
    top: -450px;
    width: 140vw;
    height: 700px;
    background: #FBDA31;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -100;
  }
}
